*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  background-color: black;
  color: white;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.main {
  display: flex;
  gap: 5rem;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.opponent-board div,
.player-board div {
  display: flex;
}

.opponent-board div div,
.player-board div div {
  height: 50px;
  width: 50px;
  border: solid 1px gray;
}

.blank {
  background-color: black;
}

.occupied {
  background-color: white;
}

.missed {
  background-color: blue;
}

.hit {
  background-color: red;
}

dialog {
  position: absolute;
  top: 40%;
  left: 44%;
  text-align: center;
  padding: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.instructions {
  text-align: center;

}

p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}