*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  background-color: black;
  color: white;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main {
  display: flex;
  gap: 5rem;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.opponent-board div,
.player-board div {
  display: flex;
}

.opponent-board div div,
.player-board div div {
  height: 50px;
  width: 50px;
  border: solid 1px gray;
}

.blank {
  background-color: black;
}

.occupied {
  background-color: white;
}

.missed {
  background-color: blue;
}

.hit {
  background-color: red;
}